.column {
  float: left;
  display: block;
  padding: 2px;
  margin: 10px;
  background: #ccc;
  width: 200px;
}

.container {
  overflow: scroll;
  height: 200px;
}

table.fixed {
  width: 100%;
}

table.fixed thead {
  display: block;
}
table.fixed tbody {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}
