.column {
  float: left;
  display: block;
  text-align: center;
  padding: 2px;
  margin: 10px;
  background: pink;
  width: 300px;
}

.container {
  overflow: scroll;
  height: 200px;
}

.first, .last {
  font-weight: bold;
}

table.fixed {
  width: 100%;
}

table.fixed thead {
  display: block;
}
table.fixed tbody {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}
